<h1>Bienvenue sur le blog des crêpes bretonnes !</h1>

{% for article in articles %}
    <div class="article">
    	<h3>{{ article.titre }}</h3>
    	<p>{{ article.contenu|truncatewords_html:80 }}</p>
        <p><a href="{% url 'lire' id=article.id slug=article.slug %}">Lire la suite</a></p>
    </div>
{% empty %}
    <p>Aucun article.</p>
{% endfor %}
<br />
<form action="{% url "accueil" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer" />
</form>